PORT=5000
LLM_API_KEY=
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
LLM_MODEL=
LLM_FAST_MODEL=
LLM_VISION_MODEL=

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432

DB_ADMIN=
DB_ADMIN_PASSWORD=

QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION_NAME=

BACKEND_URL=http://localhost:3010

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
